<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title><%= htmlWebpackPlugin.options.title %></title>
<link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%= require('./components/Header/header.html') %>
<main>
    <%= require('./components/Gallery/gallery.html') %>
</main>
<%= require('./components/Footer/footer.html') %>
<script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>">
</body>
</html>